body {
    text-align: center;
    background-color: #f0f7ff;
    padding: 30px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    color: #00247D;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: #CF142B;
    margin-top: 20px;
}

p {
    font-size: 18px;
    font-weight: 200;
    line-height: 28px;
}
button{
    background-color:red;
    border-radius:0px;
    transition-duration:0.3s;
}
button:hover{
background-color:#990000;
    border-radius:50px;
    transform: translate(0px, 2px);
}
