body{
    background-color: lightblue;
}
h1{
    background-color: red;
    color: lightblue;
}
p{
    color: black;
    font-size: larger;
}
img {
 float: left;
}
.fa-youtube{    
    color: red;
   
}
.fa-arrow-down{
    color: black;
}
#box1{
    background-color: red;
    color:white;
    border: 4px solid;
    width: 700px;
    height: 140px;
    font-size: 125px;
    border-radius:50px;
    text-align: center;
    transform: translateY(20px);
    transition-duration:0.3s;
}
#box1:hover{
    transform: translateY(-3px);
}
